*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*width contiene gia padding e margin*/
    font-family:'Alkatra';;
}
main{
    width:95%;
    margin: 0 auto;
    background-image: url(../img/wallpaper1.jpg);
    background-size:cover;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    
}
header{
    height:75px;
    width:95%;
    margin:0 auto;
    background-color: rgb(142, 198, 255);
    background-image: url(../img/dragon.png);
    background-size:contain;
    background-repeat: repeat-x;
}
.logo{
    width:20%;
    height:100%;
    background-image: url(../img/logo.png);
    background-size:contain;
    background-position: left center;
    background-repeat: no-repeat;
}
.sec{
    width:70%;
    margin:0 auto;

    text-align: center;
    background-color: rgb(250, 235, 215, 0.8);
    border-radius: 20px;
}
h1{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 70px;
    color: #ffcc00;
    text-shadow: 3px 3px 0px #000000;
}
.recap-but{
    text-align: center;
}
.rec-but{
    color: #d880fd;
    background-color: #ffc0e6;
    width: 20%;
    height: 35px;
    font-size: 100%;
    border-radius: 10px;
    font-family:'Alkatra';
    font-size: 22px;
    font-weight: bold;
    
    
}

.info{
    margin:0 auto;
    text-align: center;
}
.last-read{
    width:50%;
    display:inline;
    text-align: center;
}
.count{
    width:50%;
    display: inline-table;
    text-align: right;
}

table{
    margin: 0 auto;
    width:90%;
}
td{
    margin:50px;
}

.but{
    color: coral;
    background-color: #fed598;
    width: 100%;
    height: 45px;
    font-size: 100%;
    border-radius: 10px;
    font-family:'Alkatra';
    font-size: 22px;
    font-weight: bold;
}
.bubble{
    height :170px;
    width: 250px;

    align-content: center;

    border-radius: 50% 30% 20%;
    border-width: 5px 3px;
    border-color: red blue green;
    border-style: solid;
    
}
/*display:none - è come se non esistesse, non occupa piu lo spazio, 
visibility: hidden - continua ad occupare spazio,
display: inline-block - come se fosse inline ma posso usare padding e margin*/
.text-bub{
    
    text-align: center;
}