*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*width contiene gia padding e margin*/
    font-family:'Alkatra';;
}


/* generali */
body{
    background-image: url(../img/wallpaper1.jpg);
    background-size:contain;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    margin: 2% 0;
    text-align: center;
}
/* utils */

.recap-but{
    text-align: center;
    margin:40px 0;
}
.buttt{
    color: #4080f7;
    background-color: #b1d1fe;
    width: 20%;
    height: 35px;
    font-size: 100%;
    border-radius: 10px;
    font-family:'Alkatra';
    padding: 2px 20px;
    border: 2px solid ;
    border-color:  white rgb(173, 173, 173)rgb(173, 173, 173) white;
    vertical-align: middle;
    font-size: 20px; 
    font-weight: bold; 
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
    
}
.buttt:hover{
    background-color: #a1c8ff;
}
.buttt:active{
    border-color:rgb(173, 173, 173) white white rgb(173, 173, 173);
}
.rec-but{
    color: #4080f7;
    background-color: #b1d1fe;
    width: 20%;
    height: 35px;
    font-size: 100%;
    border-radius: 10px;
    font-family:'Alkatra';
    font-size: 22px;
    font-weight: bold; 
}
/*home page*/
.container{
    width:70%;
    margin:0 auto;
    text-align: center;
    background-color: rgb(250, 235, 215, 0.8);
    border-radius: 20px;
}

.title-container {
    padding-top: 20px;
    display: flex;
    justify-content: center; /* Centra il gruppo nella pagina */
    align-items: center;     /* Allinea dritti i draghi e il testo verticalmente */
    gap: 120px;               /* Qui decidi la DISTANZA tra immagini e titolo */
    margin: 20px 0;
}

.drag {
    width: 180px;
    height: 180px;
    background-image: url('../img/dragon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.drag.right {
    transform: scaleX(-1); 
}


h1 {
    margin: 0; 
    font-family: 'Brush Script MT', cursive;
    font-size: 70px;
    color: #ffcc00;
    text-shadow: 3px 3px 0px #000000;
}

#info{
    margin:0 auto;
    text-align: center;
}
.last-read{
    width:50%;
    display:inline;
    text-align: center;
}
.count{
    width:50%;
    display: inline-table;
    text-align: right;
}
#quotes{
    width: 95%;
    margin: 0 auto;
    padding: 2% 0;
}
#quotes p {
    margin-bottom: 30px; 
    line-height: 1.6;    /* Opzionale: rende le citazioni più leggibili aumentando lo spazio tra le righe */
}


#quotes p span {
    display: block;      /* Forza l'autore ad andare a capo anche senza <br> */
    margin-top: 5px;     
    font-style: italic;  
    color:rgb(44, 44, 44);     
    font-size:0.9rem;
}

table{
    margin: 0 auto;
    padding:2% 0;
    width:90%;
    text-align: center;
}

td{
    margin:50px;
}

.but{
    color: coral;
    background-color: #fed598;
    width: 100%;
    height: 45px;
    font-size: 100%;
    border-radius: 10px;
    font-family:'Alkatra';
    font-size: 22px;
    font-weight: bold;
}
/*RECAP PAGE*/

.bubbles{
    
    display: flex;
    justify-content: center;          
    margin: 20px 0;
    
}
.text-bub{
    height :170px;
    width: 250px;
    background-color: rgb(198, 220, 252);
    align-content: center;
    border-radius: 50%;
    border-width: 5px 3px;
    border-color: rgb(161, 161, 250) ;
    border-style: solid;
    color: #4080f7;
    font-size: 100%;
    display:inline-block;
    font-family:'Alkatra';
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.numbr{
    color: maroon;
    font-size: 100%;
    border-radius: 10px;
    font-family:'Alkatra';
    font-size: 30px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-family:'Alkatra';
    font-size: 50px;
    font-weight: bold;
    color:#ffcc00;
    margin: 0 auto; 
    text-shadow: 3px 3px 0px #000000;
}
.book-img{
    max-width: 25%;
    vertical-align: bottom;
}
img{
    max-width: 90%;
    vertical-align: bottom;
    
}

.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Li allinea tutti sulla base */
    gap: 2%;
    margin: 30px 0;
    width: 95%;
    font-family: sans-serif;
}

.step {
    text-align: center;
    background: #f4f4f4;
    padding: 2%;
    border-radius: 10px 10px 0 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    position: relative; /* Importante: il numero si muoverà solo dentro questo div */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step img {
    width: 90%;           /* Occupa quasi tutto il gradino */
    height: auto;
    max-height: 180px;    /* Evita che l'immagine mangi tutto lo spazio */
    object-fit: contain;
    margin-bottom: 10px;
}


.first {
    height: 70vh; /* Più alto */
    min-height: 375px;
    background: #fff3cd; /* Un tocco d'oro */
    border: 2px solid #ffcc00;
}

.first img { width: 150px; } /* Più grande */

.second {
    height: 55vh;
    min-height: 375px;
    background: #e2e3e5; /* Argento */
    border: 2px solid #c4c5c6;
}

.second img { width: 120px; }

.third {
    height: 45vh;
    min-height: 375px;
    background: #edd4bd; /* Bronzo/Rosa */
    border: 2px solid #cab5a0;
}

.third img { width: 100px; }
.step img {
    width: 80%;      /* La copertina occupa l'80% della larghezza del gradino */
    height: auto;    /* Mantiene le proporzioni */
}


.info-rec h3 { font-size: 1.1em; margin: 10px 0 5px; }
.info-rec p { margin: 2px 0; font-size: 0.9em; color: #555; } 
.rating { 
    
    margin-top: 10px; 
    color: #ffcc00; 
    font-size: 20px;
    -webkit-text-stroke: 1px black; 

}

.rank {
    position: absolute;
    bottom: -10px;      /* Distanza fissa dal fondo di ogni gradino */
    left: 50%;         /* Sposta al centro */
    transform: translateX(-50%); /* Centratura perfetta del testo */
    
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0.2;
    margin: 0;
}

.titolo-riga {
    width:90%;
    display: flex;
    align-items: center;    /* Allinea riga e testo verticalmente */
    text-align: center;
    color:#4080f7;
    margin: 0 auto;
    font-family: 'Brush Script MT', cursive; /* O il font che preferisci */
}

.titolo-riga::before,
.titolo-riga::after {
    content: "";
    flex: 1;                /* Fa sì che le linee occupino tutto lo spazio disponibile */
    height: 2px;            /* Spessore della riga */
    background: #4080f7;    /* Colore della riga (magari lo stesso giallo del titolo) */
    box-shadow: 1px 1px 0px #000; /* Opzionale: ombra 2D per richiamare il tuo stile */
}

/* Spazio tra le linee e il testo */
.titolo-riga span {
    padding: 0 20px;
}



/*display:none - è come se non esistesse, non occupa piu lo spazio, 
visibility: hidden - continua ad occupare spazio,
display: inline-block - come se fosse inline ma posso usare padding e margin*/
